* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #41295a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F0743, #41295a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F0743, #41295a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contact {
    background: #eee;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    width: 90%;
    max-width: 1000px;
}

.contact img {
    max-width: 600px;
    max-height: 400px;
}

.contact form {
    display: flex;
    flex-direction: column;
}

form input,
form textarea,
form button {
    padding: 5px 10px;
    outline: none;
    border: none;
    margin: .5rem 0;
    border-radius: 10px;
    color: #41295a;
    font-size: 15px;
}

form input,
form button {
    height: 40px;
}

form button {
    background: #4129ff;
    color: #fff;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 1rem;
}

@media screen and (max-width: 940px) {
    .contact img {
        display: none;
    }
}